[build]
builder = "nixpacks"
buildCommand = "pnpm install --frozen-lockfile && pnpm turbo run build --filter=@template-app/backend"

[deploy]
startCommand = "NODE_ENV=production node --enable-source-maps apps/backend/dist/apps/backend/src/index.js"
healthcheckPath = "/api/v1/health-check"
# Note: /api/v1/database-health-check is also available if you want to verify DB connection
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 5
